name: update-rules

on:
  workflow_dispatch:
  schedule:
    - cron: "59 23 * * 0"
      
jobs:
  update-rules:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      SOURCE_URL: https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Shadowrocket/
      TARGET_PATH: ./domains
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Update ./domains/discord.list
        uses: carlosperate/download-file-action@v2
        with:
          file-url: '${{ env.SOURCE_URL }}/Discord/Discord.list'
          location: '${{ env.TARGET_PATH }}'
          file-name: 'discord.list'
      - name: Update ./domains/docker.list
        uses: carlosperate/download-file-action@v2
        with:
          file-url: '${{ env.SOURCE_URL }}/Docker/Docker.list'
          location: '${{ env.TARGET_PATH }}'
          file-name: 'docker.list'
      - name: Update ./domains/facebook.list
        uses: carlosperate/download-file-action@v2
        with:
          file-url: '${{ env.SOURCE_URL }}/Facebook/Facebook.list'
          location: '${{ env.TARGET_PATH }}'
          file-name: 'facebook.list'

      - name: Commit changed files
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Update rules from https://github.com/blackmatrix7/ios_rule_script